<template>
  <div class="container">
    <div class="login_title">用户登录</div>
    <div class="login_group">
      <button v-if="isUseGetInfo == false" open-type="getUserInfo" type="primary"  @getuserinfo="getuserInfo">微信快捷登录前请先进行微信授权</button>
      <button v-else open-type="getPhoneNumber" type="primary" @getphonenumber="getPhoneNumber">微信快捷登录</button>

    </div>
  </div>
</template>

<script>
import Tips from '../../utils/tipUtil/tips'
import {getWxInfo} from '../../fetchData/fetchMyProfile'
import {mapState} from 'vuex'
import wxApi from '../../fetchData/wxApi'
import store from '../../store/store'
export default {
	data () {
		return {
			isUseGetInfo: false
		}
	},
	onShareAppMessage (res) {
		return {
			title: '展唐法服助拍',
			path: '/pages/discover/main',
			imageUrl: '../../static/images/image_share.png'
		}
	},
	onShow () {
		wxApi.login()
		this.isUseGetInfo = store.state.wxBasicInfo.isUseGetInfo
		console.log(this.isUseGetInfo)
	},
	computed: {
		...mapState([
			'wxBasicInfo' // 这个store中state下的wxBasicInfo，可以通过this.wxBasicInfo取值(也可以通过this.$store.wxBasicInfo获取)两种方法随意用，看自己喜好
		])
	},
	methods: {
		async getPhoneNumber (e) {
			let value = await wxApi.getPhone(e.mp.detail)
			if (value) {
				wx.navigateBack({
					delta: 1,
					success: function () {
						Tips.toast({
							title: '登录成功'
						})
					}
				})
			}
		},
		async getuserInfo (res) {
			if (res.mp.detail.rawData) {
				let data = res.mp.detail
				let value = await getWxInfo({
					appid: 'wx3ca04c4cbb30556e',
					sessionKey: store.state.wxBasicInfo.sessionKey,
					encryptedData: data.encryptedData,
					iv: data.iv,
					signature: data.signature,
					rawData: data.rawData
				})
				this.isUseGetInfo = true
				value.data.isUseGetInfo = true
				store.commit('WX_BASIC_INFO', value.data)
			}
		},
		uploadData (res) {
		}
	}
}
</script>

<style>
</style>
