<template>
  <div class="mapLocation">
    <div class="header">
      <div class="search">
        <input type="text" placeholder="选择位置" v-model="keyword" disabled @click="chooseAddr">
      </div>
    </div>
    <div class="mapbox">
      <map id="mymap" :latitude="latitude" :longitude="longitude" :markers="markers" show-location @regionchange="regionChange" @begin="begin" @end="end" @markertap="markerTap" />
    </div>
  </div>
</template>

<script>
export default {
	data () {
		return {
			mapCtx: null,
			// 搜索关键词
			keyword: '',
			// 当前位置经纬度
			longitude: 0,
			latitude: 0,
			// 充电站列表
			markers: []
		}
	},
	onShareAppMessage (res) {
		return {
			title: '展唐法服助拍',
			path: '/pages/discover/main',
			imageUrl: '../../static/images/image_share.png'
		}
	},
	onReady () {
		this.mapCtx = wx.createMapContext('mymap')
		this.getCurrentPosition()
	},
	methods: {
		// 选择地址
		chooseAddr () {
			wx.chooseLocation({
				success: (res) => {
					this.keyword = res.name
					this.markers = [
						{
							iconPath: '../../static/images/location.png',
							id: 0,
							latitude: res.latitude.toString(),
							longitude: res.longitude.toString(),
							width: 50,
							height: 50
						}
					]
					this.latitude = res.latitude
					this.longitude = res.longitude
					this.moveToLocation()
				}
			})
		},
		// 获取当前位置经纬度
		getCurrentPosition () {
			// 为精简代码此处不展示拒绝的情况
			wx.getLocation({
				type: 'gcj02',
				success: (res) => {
					this.latitude = res.latitude
					this.longitude = res.longitude
					this.moveToLocation()
				}
			})
		},
		// 获取到对应的经纬度并移动过去
		moveToLocation: function () {
			this.mapCtx.moveToLocation()
		},
		// 获取中心点经纬度,然后查询附近充电站
		getCenterLocation () {
			this.mapCtx.getCenterLocation({
				success: (res) => {
					this.latitude = res.latitude
					this.longitude = res.longitude
					let pos = {
						latitude: res.latitude,
						longitude: res.longitude
					}
					console.log(pos)
				}
			})
		},
		// 视野变化触发：begin和end方法内操作data会导致地图拖动后立即复位
		regionChange (e) {
			console.log('in regionchange')
			this.getCenterLocation()
		},
		// 视野变化开始：begin和end方法内操作data会导致地图拖动后立即复位
		begin (e) {
			console.log('in begin')
		},
		// 视野变化结束：begin和end方法内操作data会导致地图拖动后立即复位
		end (e) {
			// 拖动结束后获取中心点经纬度
			console.log('in end')
			this.getCenterLocation()
		}
	}
}
</script>

<style scoped>
  .mapLocation{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    .header{
      display: flex;
      align-items: center;
      padding: 10px 20px;
      .search{
        flex: 1;
        background: #f1f1f1;
        input{
          height: 36px;
          line-height: 36px;
          padding: 0 16px;
          background: #f1f1f1;
          border-radius: 2 * 36px;
        }
      }
    }
    .mapbox{
      display: flex;
      flex: 1;
      #mymap{
        width: 100%;
        height: 100vh;
      }
    }
  }
</style>
