<template>
  <section class="goodsdetail">
    <section class="goodsInnerContain">
      <div style="overflow-x:hidden;overflow-y: scroll;margin-bottom:80rpx;">
        <list-single-view
          showDot="true"
          :listInfo="goodsdetailInfo"
        />
        <text-line-space
          title="标的物定位"
        />
        <section class="goodsLoactionContain">
          <div :class="[!isLocation ? 'mapbox1':'mapbox']">
            <map id="mymap" :latitude="latitude" :longitude="longitude" :markers="markers" show-location @markertap="markerTap" />
          </div>
          <empty-tip v-if="!isLocation" tipTitle="暂无定位信息"/>
        </section>
        <section class="lineSpace"></section>
        <text-line-space
          title="标的物详情"
        />
        <section class="goodsInfo">
          <wxParse v-if="detail" :content="detail" :noData="''" />
        </section>
        <text-line-space
          title="现场图片"
        />
        <section class="liveImageContain">
          <div @click="predivImage" v-for="(imgItem, index) in goodsdetailInfo.images" :key="index" :id="imgItem.pathUrl">
            <image class="weui-uploader__img1" :src="imgItem.pathUrl + '?imageView2/1/w/410/h/320'" mode="aspectFill" />
          </div>
          <!-- <img v-for="(imgItem, index) in goodsdetailInfo.images" :key="index" :src="imgItem.pathUrl" alt=""> -->
        </section>
        <text-line-space
          title="公告 · 须知"
        />
        <section class="basicCondition">
          <div :class="['contentDiv', !isReadContent?'fixHeight':'']">{{goodsdetailInfo.content || ''}}</div>
          <div v-if="!isReadContent" @click="readContentPress" class="readBtn"><span>阅读全部</span></div>
        </section>
      </div>
      <section class="yuyueDiv">
        <picker class="yuyuePicker" mode="selector" :value="dateIndex" :range="yuyueDateRange" :range-key="'lastestDate'" @change="dataChange">
          <div class="dateDiv">
            <i-icon class="iconUnfold" type="unfold" />
            <p>{{(yuyueDateRange[dateIndex] && yuyueDateRange[dateIndex]['lastestDate']) || ''}}</p>
          </div>
        </picker>

        <div :class="[(yuYueState !== 2 || isYuYue)?'showGray':'','yuyueBtnDiv']" @click="toOrderSeeSample"><span>{{getYuYueState}}</span></div>
      </section>
    </section>

    <button class="kefu" open-type="contact">
      <image class="kefu_image" src="../../static/images/icon_kefu.png"></image>
      <div class="kefu_word">客服</div>
    </button>
  </section>
</template>

<script>
import {mapState} from 'vuex'
// import wxParse from 'mpvue-wxparse'
import wxParse from '../../components/wxparse/wxParse'
import listSingleView from '../../components/listSingleView'
import textLineSpace from '../../components/textLineSpace'
import {getGoodsDetails, isYuYueRegisterApi} from '../../fetchData/fetchDiscover'
import Tips from '../../utils/tipUtil/tips'
import { getStateText } from '../../utils/data/discoverData'
import emptyTip from '../../components/emptyTip'
export default {
	data () {
		return {
			yuYueState: '', // 预约状态
			isYuYue: false, // 是否预约过
			goodsId: null, // 标的物id
			goodsdetailInfo: {},
			mapCtx: null, // 地图对象
			longitude: 0, // 当前位置经纬度
			latitude: 0, // 当前位置经纬度
			markers: [], // 位置点图
			detail: '',
			imagefiles: [], // 预览图片数据
			dateIndex: 0,
			yuyueDateRange: [], // 预约日期数组
			isReadContent: false
		}
	},
	onShareAppMessage (res) {
		return {
			title: '展唐法服助拍-' + this.goodsdetailInfo.goodsName,
			path: '/pages/goodsdetail/main?goodsId=' + this.goodsId,
			imageUrl: this.goodsdetailInfo.cover
		}
	},

	onUnload () {
		this.goodsdetailInfo = {}
		this.detail = ''
		this.isReadContent = false
		this.longitude = null
		this.latitude = null
	},

	onLoad (options) {
		console.log('detailOptions:', options)
		this.goodsId = options.goodsId
	},

	onReady () {
		this.initData()
		this.mapCtx = wx.createMapContext('mymap')
	},

	components: {
		wxParse,
		listSingleView,
		textLineSpace,
		emptyTip
	},

	computed: {
		...mapState([
			'wxBasicInfo'
		]),

		getYuYueState () {
			const yuYueText = getStateText(this.yuYueState)

			if (this.isYuYue) {
				return '已预约'
			} else {
				return yuYueText
			}
		},

		// 定位信息是否为空
		isLocation () {
			return (!this.$_.isEmpty(this.longitude) && !this.$_.isEmpty(this.longitude))
		}
	},

	methods: {
		async initData () {
			// 获取标的物详情接口信息
			const goodsDetails = await getGoodsDetails({
				goodsId: this.goodsId
			})
			this.yuyueDateRange = this.$_.map((goodsDetails.yuyueDateList || []), (dateItem) => {
				return {...dateItem, lastestDate: `${dateItem.dateStart.slice(0, 16)}-${dateItem.dateEnd.slice(11, 16)}`}
			})
			this.detail = goodsDetails.detail
			this.yuYueState = goodsDetails.state
			this.goodsdetailInfo = goodsDetails
			this.imagefiles = this.$_.map(goodsDetails.images, (imgItem) => {
				return `${imgItem.pathUrl}?imageView2/1/w/410/h/320`
			})

			// 判断是否该用户是否已经预约过
			const yuYueList = await isYuYueRegisterApi({
				tel: this.wxBasicInfo.phone || '-1',
				goodsId: this.goodsId
			})
			this.isYuYue = (yuYueList.length > 0)

			this.getCurrentPosition()
		},

		// 阅读详情内容
		readContentPress () {
			this.isReadContent = true
		},

		// 获取当前位置经纬度
		getCurrentPosition () {
			// 为精简代码此处不展示拒绝的情况
			this.latitude = this.goodsdetailInfo.lat
			this.longitude = this.goodsdetailInfo.lng

			this.markers = [
				{
					iconPath: '../../static/images/location.png',
					id: 0,
					latitude: this.latitude.toString(),
					longitude: this.longitude.toString(),
					width: 40,
					height: 40
				}
			]
			this.moveToLocation()
		},
		// 获取到对应的经纬度并移动过去
		moveToLocation: function () {
			this.mapCtx.moveToLocation()
		},

		markerTap (e) {
			console.log('e:', e)
		},

		toOrderSeeSample () {
			const {isLogin} = this.wxBasicInfo
			console.log('this.wxBasicInfo:', this.wxBasicInfo)

			if (!isLogin) {
				Tips.toast({
					title: '请先完成登录，再进行预约看样'
				})
				setTimeout(() => {
					wx.navigateTo({
						url: '../login/main'
					})
				}, 2000)
				return
			}

			if (this.$_.isEmpty(this.yuyueDateRange) && this.yuYueState === 2) {
				Tips.toast({
					title: '暂无可预约时间'
				})
				return
			}

			if (this.isYuYue || this.yuYueState !== 2) {
				return
			}

			wx.navigateTo({
				url: `../order/main?goodsId=${this.goodsId}&dateIndex=${this.dateIndex}&yuyueDateRange=${JSON.stringify(this.yuyueDateRange)}`
			})
		},

		// 预览图片
		predivImage (e) {
			wx.previewImage({
				current: e.currentTarget.id, // 当前显示图片的http链接
				urls: this.imagefiles // 需要预览的图片http链接列表
			})
		},

		// 预约日期选择
		dataChange ({mp}) {
			this.dateIndex = mp.detail.value || 0
		}

	}
}
</script>

<style scoped>
  @import '../../utils/style/mixin';
  .kefu{
    position:fixed;
    left:0;
    bottom:100rpx;
    width:100rpx;
    display:flex;
    color:#fff;
    flex-direction: column;
    align-items: center;
    background:#f32b15;
    .kefu_image{
      width:80rpx;
      height:80rpx;
    }
    .kefu_word{
      font-size:24rpx;
      width:100rpx;
    }
  }
  .goodsdetail{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    background-color: $defaultBgColor;

    .goodsInnerContain{
      flex: 1;
      /* padding-bottom: 82rpx; */
    }

    .goodsInfo{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      background-color: white;
      .goodsInfoCol{
        display: flex;
        flex-direction: row;
        align-items: center;
        .goodsInfoRow{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 32%;
          span{
            color: #5D5E65;
            font-size: 24rpx;
          }
        }
      }
    }

    .basicCondition{
      position: relative;
      padding: 0 20rpx;
      margin-bottom: 20rpx;
      background-color: white;
      .contentDiv{
        font-size: 26rpx;
        word-break:break-all;
        word-wrap:break-word;
      }
      .fixHeight{
        height: 200rpx;
        overflow: hidden;
      }
      .readBtn{
        position: absolute;
        right: 30rpx;
        bottom: 30rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120rpx;
        height: 40rpx;
        border: 2rpx solid #F73C31;
        border-radius: 6rpx;
        background-color: white;
        span{
          color: #F73C31;
          font-size: 26rpx;
        }
      }
    }

    .liveImageContain{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      margin-bottom: 20rpx;
      div{
        display:flex;
      }
      .weui-uploader__img1{
        @mixin wh 100%, 500rpx;
        margin: 10rpx 0;
      }
    }


    .goodsLoactionContain{
      position: relative;
      display: flex;
      padding: 0 20rpx;
      background: white;
      .mapbox1{
        position: absolute;
        left: -1000rpx;
      }
      .mapbox{
        @mixin wh 100%, 500rpx;
        #mymap{
          @mixin wh 100%, 100%;
        }
      }
    }

    .yuyueDiv{
      position: fixed;
      left: 0;
      bottom: 0;
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: cneter;
      width: 100%;
      height: 80rpx;
      border-color: transparent;
      border-top: 2rpx solid #EEEEEE;
      box-shadow: 0 -2rpx 4rpx #EEEEEE;
      .yuyuePicker{
        display:flex;
        flex:1;
        align-items:center;
      }
      .dateDiv{
        display: flex;
        align-items: center;
        padding-left: 20rpx;
        flex: 1;
        .iconUnfold{
          padding-bottom: 8rpx;
        }
        p{
          padding-left: 10rpx;
          color: black;
          font-size: 26rpx;
        }
      }
      .yuyueBtnDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FC382D;
        padding: 0 30rpx;
        span{
          font-size: 28rpx;
          color: white;
          font-weight: 600;
        }
      }
      .showGray{
        background-color: #cccccc;
      }
    }
  }
</style>

