<template>
  <section class="orderSeeSample">
    <section class="headTitle">
      <span>看样预约</span>
    </section>
    <section class="selectDate">
      <div class="dateTitleDiv">
        <span>请输入搜索信息</span>
      </div>
      <picker class="yuyuePicker" mode="selector" :value="dateIndex" :range="yuyueDateRange" :range-key="'lastestDate'" @change="dataChange">
        <div class="dateContentDiv" @click="showDataList">
          <div class="contentDiv"><span>{{(yuyueDateRange[dateIndex] && yuyueDateRange[dateIndex]['lastestDate']) || ''}}</span></div>
          <i-icon class="iconUnfold" type="unfold" />
        </div>
      </picker>
    </section>
    <section class="writeName">
      <div class="dateTitleDiv">
        <span>请输入您的姓名  (必填)</span>
      </div>
      <div class="dateContentDiv">
        <input type="text" placeholder="请输入您的姓名" v-model="orderName" @input="orderNameInput" />
      </div>
    </section>
    <section class="writePhone">
      <div class="dateTitleDiv">
        <span>请输入您的联系方式  (必填)</span>
      </div>
      <div class="dateContentDiv">
        <input type="number" placeholder="请输入您的联系方式" maxlength="11" v-model="orderPhone" @input="orderPhoneInput" />
      </div>
    </section>
    <section @click="commitOrder" class="commitOrder"><span>提交预约</span></section>
  </section>
</template>

<script>
import {yuyueRegisterApi} from '../../fetchData/fetchDiscover'
import Tips from '../../utils/tipUtil/tips'
import { mapState } from 'vuex'
export default {
	data () {
		return {
			goodsId: null,
			orderName: '',
			orderPhone: '',
			dateIndex: 0,
			yuyueDateRange: [], // 预约日期数组
			isYuYueSuccess: false
		}
	},
	onShareAppMessage (res) {
		return {
			title: '展唐法服助拍',
			path: '/pages/discover/main',
			imageUrl: '../../static/images/image_share.png'
		}
	},
	onLoad (options) {
		this._initData()

		this.goodsId = options.goodsId
		this.dateIndex = options.dateIndex
		this.yuyueDateRange = JSON.parse(options.yuyueDateRange) || []
	},

	computed: {
		...mapState(['wxBasicInfo'])
	},

	methods: {

		_initData () {
			const {phone = '', realName = ''} = this.wxBasicInfo
			this.orderPhone = phone
			this.orderName = realName
		},

		async commitOrder () {
			const {
				orderName,
				orderPhone,
				isYuYueSuccess,
				yuyueDateRange,
				dateIndex
			} = this._data

			if (isYuYueSuccess) {
				Tips.toast({
					title: '已经预约成功，请勿重复提交'
				})
				return
			}

			if (this.$_.isEmpty(orderName)) {
				Tips.toast({
					title: '姓名不能为空'
				})
				return
			}

			if (this.$_.isEmpty(orderPhone)) {
				Tips.toast({
					title: '手机号不能为空'
				})
				return
			}

			const yuyueRegisterResult = await yuyueRegisterApi({
				goodsId: this.goodsId,
				goodsDateId: this.$_.get(yuyueDateRange[dateIndex], 'id', ''),
				man: orderName,
				tel: orderPhone
			})

			if (yuyueRegisterResult.code === '100') {
				this.isYuYueSuccess = true
				Tips.toast({
					title: '预约成功，请查收短信查看预约码'
				})
			}
		},

		// 预约日期选择
		dataChange ({mp}) {
			this.dateIndex = mp.detail.value || 0
		},

		orderNameInput (mp) {
			this.orderName = this.$_.trim(mp.target.value)
		},

		orderPhoneInput (mp) {
			this.orderPhone = this.$_.trim(mp.target.value)
		}
	}
}
</script>

<style scoped>
  @import '../../utils/style/mixin';
  .orderSeeSample{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $defaultBgColor;
    .headTitle{
      background-color: $defaultBgColor;
      padding: 14rpx 20rpx;
      span{
        color: black;
        font-size: 32rpx;
        font-weight: 400;
      }
    }

    .dateTitleDiv{
      padding: 14rpx 0;
      span{
        color: #A4A4A4;
        font-size: 22rpx;
      }
    }

    .selectDate{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      background-color: white;
      position: relative;
      .dataListView{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding:0 20rpx;
        box-sizing:border-box;
        overflow-y: auto;
        position: absolute;
        top: 172rpx;
        left: 0;
        background: white;
        border: 2rpx solid #EFEFEF;
        .dateSingleView{
          display: flex;
          flex-direction: column;
          justify-content: center;
          .dataText{
            color: black;
            padding: 14rpx 20rpx;
            font-size: 26rpx;
          }
        }
      }

      .dateContentDiv{
        display: flex;
        flex-direction: row;
        align-items: cneter;
        justify-content: space-between;
        border: 2rpx solid #E8E8E8;
        padding: 10rpx 0;
        .contentDiv{
          flex: 1;
          span{
            color: #3A3A3A;
            font-size: 24rpx;
            padding-left: 10rpx;
          }
        }
        .iconUnfold{
          @mixin wh 34rpx, 34rpx;
          margin-right: 10rpx;
        }
      }
    }

    .writeName{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      background-color: white;
      .dateContentDiv{
        display: flex;
        flex-direction: row;
        align-items: cneter;
        justify-content: space-between;
        border: 2rpx solid #E8E8E8;
        padding: 10rpx 0;

        input{
          flex: 1;
          color: #3A3A3A;
          font-size: 24rpx;
          padding-left: 10rpx;
        }
      }
    }

    .writePhone{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      background-color: white;
      padding-bottom: 40rpx;
      .dateContentDiv{
        display: flex;
        flex-direction: row;
        align-items: cneter;
        justify-content: space-between;
        border: 2rpx solid #E8E8E8;
        padding: 10rpx 0;

        input{
          flex: 1;
          color: #3A3A3A;
          font-size: 24rpx;
          padding-left: 10rpx;
        }
      }
    }

    .commitOrder{
      background-color: $themeColor;
      margin: 20rpx;
      margin-top: 30rpx;
      padding: 20rpx 0;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        font-size: 26rpx;
        color: white;
      }
    }
  }
</style>

