<template>
  <!--判断是否是标签节点-->
  <block v-if="node.node == 'element'">


    <!--table类型-->
    <block v-if="node.tag == 'table'">
      <view :class="node.classStr" class="table" :style="node.styleStr">
        <!--tr-->
        <view class="tbody" v-for="(nodeA, indexA) of node.nodes" :key="indexA">
          <!--tbody-->
          <view :class="['tr',(indexA == 0)&&firstRow]" v-for="(nodeB, indexB) of nodeA.nodes" :key="indexB">
            <!--td-->
            <view :class="['tr',(indexA == 0)&&firstRow]">
              <!--p-->
              <block  v-for="(nodeC, indexC) of nodeB.nodes" :key="indexC">

                <span v-if="nodeC.text">{{nodeC.text}}</span>
                <div v-else :class="['td',((indexC == 0)&&(nodeB.nodes.length>1))&&'ftd',((indexC == 0)&&(nodeB.nodes.length==1))&&'ftd1']" :style="(indexC != 0)&&{width:75/(nodeB.nodes.length - 1)+'%'}">
                  <block  v-for="(nodeD, indexD) of nodeC.nodes" :key="indexD">

                    <span v-if="nodeD.text">{{nodeD.text}}</span>
                    <block v-else>
                      <block  v-for="(nodeE, indexE) of nodeD.nodes" :key="indexE">

                        <span v-if="nodeE.text">{{nodeE.text}}</span>
                        <block v-else>
                          <block  v-for="(nodeF, indexF) of nodeE.nodes" :key="indexF">

                            <span v-if="nodeF.text">{{nodeF.text}}</span>
                            <block v-else>
                              <block  v-for="(nodeG, indexG) of nodeF" :key="indexG">
                              </block>
                            </block>

                          </block>
                        </block>

                      </block>
                    </block>

                  </block>
                </div>

              </block>
            </view>
          </view>
        </view>
      </view>
    </block>

    <!--<view  v-if="nodeC.nodes" v-for="(nodeD, indexD) of nodeC" :key="indexD">-->
    <!--<view  v-if="nodeD.nodes" v-for="(nodeE, indexE) of nodeD" :key="indexE">-->
    <!--</view>-->
    <!--<span v-else>{{node.text}}</span>-->
    <!--</view>-->
    <!--<span v-else>{{node.text}}</span>-->

    <!--br类型-->
    <block v-else-if="node.tag == 'br'">
      <text>\n</text>
    </block>

    <!--其他标签-->
    <block v-else>
      <view :class="node.classStr" :style="node.styleStr">
        <block v-for="(node, index) of node.nodes" :key="index">
          <wx-parse-template :node="node" />
        </block>
      </view>
    </block>

  </block>

  <!--判断是否是文本节点-->
  <block v-else-if="node.node == 'text'">{{node.text}}</block>
</template>

<script>
/* eslint-disable */
import wxParseTemplate from './wxParseTemplate1'
  import wxParseImg from './wxParseImg'
  import wxParseVideo from './wxParseVideo'
  import wxParseAudio from './wxParseAudio'

  export default {
	name: 'wxParseTemplate0',
	props: {
		node: {}
	},
	onLoad () {
		console.log(0)
	},
	components: {
		wxParseTemplate,
		wxParseImg,
		wxParseVideo,
		wxParseAudio
	},
	methods: {
		wxParseATap (e) {
			const { href } = e.target.dataset
        if (!href) return
        this.node.$host.navigate(href, e)
      },
		hasText (value, key) {
			console.log(value.text, key)
			if (value.text == null) {
				return false
			} else {
				return true
			}
		}
	}
  }
  /* eslint-enable */
</script>

<style>
  .table{
  }
  .tr{
    display:flex;
    flex-direction: row;
    border-bottom:none !important;
  }
  .ftd{
    width:25% !important;
    flex:0 0 25%;
  }
  .ftd1{
    flex:0 0 100%;
    box-sizing:border-box
  }
</style>
