<view class="i-index i-class">
    <!-- catchtouchstart="handlerTouchMove" 这个之前在第9行的位置，这里触发touchstart有问题，会阻止catchtap的触发 by jiangjinjin -->
    <view class="i-index-fixed"  
        catchtouchmove="handlerTouchMove" 
        catchtouchend="handlerTouchEnd">
        <view class="i-index-fixed-item" 
            wx:for="{{fixedData}}" 
            wx:key="{{index}}" 
            data-index="{{index}}" 
            catchtap="handlerFixedTap">
            {{item}}
        </view>
    </view>  
    <scroll-view
        class="scrollView"
        scroll-y 
        style="{{parse.setScrollStyle(height)}}" 
        bindscroll="handlerScroll"
        scroll-top="{{scrollTop}}">
        <slot></slot>  
        <view class="i-index-tooltip" style="{{ isTouches ? 'display:block' : 'display:none' }}">{{currentName}}</view>
    </scroll-view>
</view>
<wxs module="parse">
    module.exports = {
       setScrollStyle : function(height){
           var units = ['%','px','rem','rpx','em','rem'];
           var hasUnits = false;
           for( var i = 0; i < units.length;i++ ){
               var u = units[i];
               if( height.indexOf( u ) > -1 ){
                   hasUnits = true;
                   break;
               }
           }
           return 'height:'+ ( hasUnits ? height : height+'px' );
       }
    }
</wxs>
