<template>
  <section class="goodsdetail">
    <section class="goodsInnerContain">
      <div>
        <list-single-view
          :listInfo="goodsdetailInfo"
        />
        <section class="lineSpace"></section>
        <text-line-space
          title="标的物详情"
        />
        <section class="goodsInfo">
          <wxParse :content="detail" :noData="''" />
        </section>
        <text-line-space
          title="公告 · 须知"
        />
        <section class="basicCondition">
          <div class="contentDiv">{{goodsdetailInfo.content || ''}}</div>
        </section>
        <text-line-space
          title="现场图片"
        />
        <section class="weui-uploader__bd jjjuploader">
          <div class="weui-uploader__files" id="uploaderFiles">
            <block v-for="(item, index) in imagefiles" :key="index">
              <div class="weui-uploader__file weui-uploader__file_jjj" @click="predivImage" :id="item">
                <div class="deleteDiv" @click.stop="deleteImage(index)">
                  <image class="deleteImg" src="/static/images/delete.png" mode="aspectFill" />
                </div>
                <image class="weui-uploader__img weui-uploader__img_jjj" :src="item" mode="aspectFill" />
              </div>
            </block>
          </div>
          <div class="weui-uploader__input-box weui-uploader__input-box_jjj">
            <div class="weui-uploader__input" @click="chooseImage"></div>
          </div>
        </section>
        
        <section class="addressModify">
          <text-line-space
            title="标的物定位"
          />
          <div class="editBtnDiv" @click="editAddrss">
            <i-icon class="iconeditor" type="editor" />
            <p class="fixSpan">修改</p>
          </div>
        </section>
        
        <section class="goodsLoactionContain">
          <div class="mapbox">
            <map id="mymap" :latitude="latitude" :longitude="longitude" :markers="markers" show-location @markertap="markerTap" />
          </div>
        </section>
      </div>
    </section>
    
  </section>
</template>

<script>
import wxParse from 'mpvue-wxparse'
import listSingleView from '../../components/listSingleView'
import textLineSpace from '../../components/textLineSpace'
import {getGoodsDetails} from '../../fetchData/fetchDiscover'
export default {
	data () {
		return {
			goodsdetailInfo: {},
			mapCtx: null, // 地图对象
			longitude: 0, // 当前位置经纬度
			latitude: 0, // 当前位置经纬度
			markers: [], // 位置点图
			detail: '',
			imagefiles: [] // 预览图片数据
		}
	},

	onReady () {
		this.initData()
		this.mapCtx = wx.createMapContext('mymap')
	},

	components: {
		wxParse,
		listSingleView,
		textLineSpace
	},

	methods: {
		async initData () {
			// 获取标的物详情接口信息
			const goodsDetails = await getGoodsDetails({
				goodsId: '341'
			})
			this.detail = goodsDetails.detail
			this.goodsdetailInfo = goodsDetails
			this.imagefiles = this.$_.map(goodsDetails.images, (imgItem) => {
				return imgItem.pathUrl
			})

			this.getCurrentPosition()
		},

		// 获取当前位置经纬度
		getCurrentPosition () {
			// 为精简代码此处不展示拒绝的情况
			this.latitude = this.goodsdetailInfo.lat
			this.longitude = this.goodsdetailInfo.lng

			this.markers = [
				{
					iconPath: '../../static/images/location.png',
					id: 0,
					latitude: this.latitude.toString(),
					longitude: this.longitude.toString(),
					width: 40,
					height: 40
				}
			]
			this.moveToLocation()

			/* wx.getLocation({
				type: 'gcj02',
				success: (res) => {
					this.latitude = res.latitude
					this.longitude = res.longitude
					this.markers = [
						{
							iconPath: '../../static/images/location.png',
							id: 0,
							latitude: res.latitude.toString(),
							longitude: res.longitude.toString(),
							width: 40,
							height: 40,
							callout: { // 气泡
								content: '哈哈',
								color: '#000000',
								fontSize: 12,
								borderRadius: 4,
								bgColor: '#ffffff',
								padding: 10,
								display: 'ALWAYS',
								textAlign: 'center'
							}
						}
					]
					this.moveToLocation()
				}
			}) */
		},
		// 获取到对应的经纬度并移动过去
		moveToLocation: function () {
			this.mapCtx.moveToLocation()
		},

		markerTap (e) {
			console.log('e:', e)
		},

		// 选择上传的图片
		chooseImage (e) {
			var _this = this
			wx.chooseImage({
				sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
				sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
				success: function (res) {
					console.log('res:', res)
					// 返回选定照片的本地文件路径列表，tempFilePath可以作为img标签的src属性显示图片
					_this.imagefiles = _this.imagefiles.concat(res.tempFilePaths)
				},
				fail: function () {
					console.log('fail')
				},
				complete: function () {
					console.log('commplete')
				}
			})
		},

		// 预览图片
		predivImage (e) {
			console.log(e)
			wx.previewImage({
				current: e.currentTarget.id, // 当前显示图片的http链接
				urls: this.imagefiles // 需要预览的图片http链接列表
			})
		},

		// 删除图片
		deleteImage (imgIndex) {
			this.imagefiles.splice(imgIndex, 1)
		},

		// 编辑地址
		editAddrss () {
			wx.chooseLocation({
				success: (res) => {
					this.markers = [
						{
							iconPath: '../../static/images/location.png',
							id: 0,
							latitude: res.latitude.toString(),
							longitude: res.longitude.toString(),
							width: 40,
							height: 40
						}
					]
					this.latitude = res.latitude
					this.longitude = res.longitude
					this.moveToLocation()
				}
			})
		}

	}
}
</script>

<style scoped>
  @import '../../utils/style/mixin';
  .goodsdetail{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $defaultBgColor;

    .goodsInnerContain{
      flex: 1;
      /* padding-bottom: 82rpx; */
    }

    .goodsInfo{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      background-color: white;
      .goodsInfoCol{
        display: flex;
        flex-direction: row;
        align-items: center;
        .goodsInfoRow{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 32%;
          span{
            color: #5D5E65;
            font-size: 24rpx;
          }
        }
      }
    }

    .basicCondition{
      padding: 0 20rpx;
      margin-bottom: 20rpx;
      background-color: white;
      .contentDiv{
        font-size: 26rpx;
        word-break:break-all;
        word-wrap:break-word;
      }
    }

    .liveImageContain{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      margin-bottom: 20rpx;
      div{
        display:flex;
      }
      .weui-uploader__img1{
        @mixin wh 100%, 500rpx;
        margin: 10rpx 0;
      }
    }


    .goodsLoactionContain{
      display: flex;
      padding: 20rpx;
      .mapbox{
        @mixin wh 100%, 500rpx;
        #mymap{
          @mixin wh 100%, 100%;
        }
      }
    }

    .jjjuploader{
      box-sizing: border-box;
      padding-left: 20rpx;
      padding-top: 20rpx;
    }
    .weui-uploader__img_jjj{
      width: 166rpx;
      height: 166rpx;
    }

    .weui-uploader__file_jjj{
      position: relative;
    }

    .deleteDiv{
      position: absolute;
      right: -6rpx;
      top: -6rpx;
      background-color: white;
      width:36rpx;
      height:36rpx;
      border-radius: 18rpx;
      .deleteImg{
        display: block;
        @mixin wh 36rpx, 36rpx;
      }
    }

    .weui-uploader__input-box_jjj{
      width: 162rpx;
      height: 162rpx;
    }

    .addressModify{
      display: flex;
      flex-direction: row;
      align-items: center;
      .editBtnDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 20rpx;
        .iconeditor{
          font-size: 30rpx;
          color: $themeColor;
        }
        .fixSpan{
          font-size: 26rpx;
          color: $themeColor;
        }
      }
    }

  }
</style>

