<template>
  <div class="my-container">
    <list-single-view2 @fetch="initData" v-if="listData.length>0" v-for="(listItem, listIndex) in listData"
                       :key="listIndex"
                       :listInfo="listItem"/>
    <div v-if="listData.length==0">
      <empty-tips></empty-tips>
    </div>
    <!--@toDetail="toDetailPage"-->
  </div>
</template>

<script>
import listSingleView2 from '../../components/listSingleView2.vue'
import emptyTips from '../../components/emptyTip'
import {postRecordInfo} from '../../fetchData/fetchMyProfile'
import store from '../../store/store'
export default {
	data () {
		return {
			listData: []
		}
	},
	onReady () {
		this.initData()
	},
	props: {
		listInfo: Object
	},
	computed: {
	},
	components: {
		listSingleView2,
		emptyTips
	},
	methods: {
		async initData () {
			const result = await postRecordInfo({
				tel: store.state.wxBasicInfo.phone
			})
			this.listData = result.list
		}
	},
	onShareAppMessage (res) {
		return {
			title: '展唐法服助拍',
			path: '/pages/discover/main',
			imageUrl: '../../static/images/image_share.png'
		}
	},
	watch: {

	}
}
</script>

<style scoped>
</style>
