<template>
  <section class="common-wrapper">
    <picker
      mode="multiSelector"
      @change="bindMultiPickerChange"
      @columnchange="bindMultiPickerColumnChange"
      :value="multiIndex"
      :range="multiArray"
    >
      <view class="picker">
        {{selectAddress || '地区'}}
      </view>
    </picker>
  </section>
</template>

<script>
import {city} from '../utils/data/city'
export default {
	data () {
		return {
			multiArray: [],
			arrays: [],
			multiIndex: [0, 0],
			arr: [],
			selectAddress: ''
		}
	},

	props: ['handleAddress'],

	onLoad () {
		this._initCity()
	},

	methods: {
		_initCity () {
			let arr1 = []
			let arr2 = []
			let arr3 = []
			let arr4 = []
			city.forEach((item) => {
				arr1.push(item.name)
				arr3.push({id: item.id, name: item.name})
				item.children.forEach(it => {
					arr2.push(it.name)
					arr4.push({id: it.pid, name: it.name})
				})
			})

			this.multiArray.push(arr1)
			this.multiArray.push(arr2)
			this.multiArray[1] = ['北京']
			this.arrays.push(arr3)
			this.arrays.push(arr4)
			console.log('this.arrays:', this.arrays)
		},

		bindMultiPickerChange (e) {
			// e.mp.detail.value为数组，表示对应列的索引位置
			// console.log('e.mp.detail.value:',e.mp.detail.value)
			this.multiIndex = e.mp.detail.value
			this.selectAddress = this.initAddress()
			this.$emit('handleAddress', this.selectAddress)
		},

		bindMultiPickerColumnChange (e) {
			if (e.mp.detail.column === 0) {
				this.arr = []
				this.arrays[1].forEach((item) => {
					if (Number(this.arrays[e.mp.detail.column][e.mp.detail.value].id) === Number(item.id)) {
						this.arr.push(item.name)
					}
				})
			}

			this.multiArray[1] = this.arr
			this.multiIndex[e.mp.detail.column] = e.mp.detail.value
			// console.log('e.mp.detail', e.mp.detail)
		},
		initAddress () {
			if (!this.$_.isEmpty(this.multiArray[1][this.multiIndex[1]])) {
				return this.multiArray[1][this.multiIndex[1]]
			} else {
				return this.multiArray[0][this.multiIndex[0]]
			}
		}
	}
}
</script>

<style>
	.common-wrapper{
		.picker{
			color: #171717;
			font-size: 15px;
		}
	}
</style>