<template>
  <div class="emptyTip">{{tipTitle}}</div>
</template>

<script>
export default {
	data () {
		return {}
	},

	props: {
		tipTitle: {
			type: String,
			default: '暂无数据'
		}
	}
}
</script>

<style scoped>
  .emptyTip{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30rpx 0;
    color: #666666;
    font-size: 30rpx;
    flex:1;
  }
</style>
