<template>
  <div>
    <i-swipeout :operateWidth="100" >
      <div slot="content" @click.stop="toDetailPage">
        <list-view :listInfo="listInfo"/>
      </div>
      <div slot="button">
        <view class="detail" @click="detailRecord" style="width:100px">
          <div class="detail_content" >删除</div>
        </view>
      </div>
    </i-swipeout>
  </div>

</template>

<script>
import listView from './list_view.vue'
import {deleteRecord} from '../fetchData/fetchMyProfile'
import Tips from '../utils/tipUtil/tips'
export default {
	data () {
		return {
		  id: this.listInfo.id,
			default_pic: '../../static/images/default_pic.png'
		}
	},
	props: {
		listInfo: Object,
		fetch: Function
	},
	components: {
		listView
	},
	methods: {
		async detailRecord () {
		  let _this = this
			Tips.confirm({
				'text': '是否取消预约'
			}).then(async function (r) {
				console.log(1111)
				await deleteRecord({
					id: _this.id
				})
				_this.$emit('fetch', '')
			}).catch(function (reason) {
			})
		},
		toDetailPage () {
		  let _this = this
		  console.log(this.listInfo)
			wx.navigateTo({
				url: `../goodsdetail/main?goodsId=${_this.listInfo.goodsId}`
			})
		}
	}
}
</script>

<style>
  .detail{
    position:absolute;
    height:100%;
    background:#f0220d;
    display:flex;
    justify-content: center;
    align-items: center;
    .detail_content{
      background:url("../../static/images/detail.png") top center no-repeat;
      background-size:40rpx 40rpx;
      padding-top:40rpx;
      color:#fff;
      font-size:30rpx;
    }
  }
</style>
