<template>
  <section class="cityPickerView" @click="switchCityPicker">
    <slot></slot>
    <div v-if="isCity" class="selector">
        <div class="inner_box">
            <view class="header_box">
                <view class="item l" data-act="cancel" data-mold="city" @tap.stop="ideChoice">取消</view>
                <view class="item c">请选择</view>
                <view class="item r" data-act="confirm" data-mold="city" @tap.stop="ideChoice">确定</view>
            </view>

            <picker-view class="picker_box" indicator-class="selected" :value="cityValue" @change.stop="cityChange">
                <picker-view-column>
                    <view v-for="(provinceName, index) in provinces" :key="index">{{provinceName}}</view>
                </picker-view-column>
                <picker-view-column>
                    <view v-for="(cityName, index) in citys" :key="index">{{cityName}}</view>
                </picker-view-column>
                <picker-view-column>
                    <view v-for="(countyName, index) in countys" :key="index">{{countyName}}</view>
                </picker-view-column>
            </picker-view>
        </div>
        <div class="layer" @click.stop="switchCityPickerOff"></div>
    </div>
  </section>
  
</template>

<script>
import cityData from '../utils/data/region'
export default {
	data () {
		return {
			provinces: [],
			citys: [],
			countys: [],
			cityValue: [0, 0, 0],
			provinceName: '',
			cityName: '',
			countyName: '',
			isCity: false
		}
	},

	props: {
		onCityChange: Function,
		selectAddress: String,
		title: String
	},

	onLoad () {
		this.initCityData()
	},

	methods: {
		// 初始化城市数据
		initCityData () {
			this.provinceName = cityData[0].name
			this.cityName = cityData[0].sub[0].name
			this.countyName = cityData[0].sub[0].sub[0].name
			// 城市
			for (let i = 0; i < cityData.length; i++) {
				this.provinces.push(cityData[i].name)
			}

			for (let i = 0; i < cityData[0].sub.length; i++) {
				this.citys.push(cityData[0].sub[i].name)
			}

			for (let i = 0; i < cityData[0].sub[0].sub.length; i++) {
				this.countys.push(cityData[0].sub[0].sub[i].name)
			}
		},

		// 切换地址选择器开关
		switchCityPicker () {
			this.isCity = true
		},

		switchCityPickerOff () {
			this.isCity = false
		},

		// 确定选择
		ideChoice ({mp}) {
			var $act = mp.currentTarget.dataset.act
			var $mold = mp.currentTarget.dataset.mold
			// 城市
			if ($act === 'confirm' && $mold === 'city') {
				const cityText = [this.provinceName, this.cityName, this.countyName]
				this.$emit('onCityChange', cityText)
			}
			this.isCity = false
		},

		// 城市选择器
		cityChange ({mp}) {
			let val = mp.detail.value
			let t = this.cityValue

			if (val[0] !== t[0]) {
				const citys = []
				const countys = []
				if (cityData[val[0]].sub.length > 0) {
					for (let i = 0; i < cityData[val[0]].sub.length; i++) {
						citys.push(cityData[val[0]].sub[i].name)
					}
				}
				if (cityData[val[0]].sub[0] && cityData[val[0]].sub[0].sub.length > 0) {
					for (let i = 0; i < cityData[val[0]].sub[0].sub.length; i++) {
						countys.push(cityData[val[0]].sub[0].sub[i].name)
					}
				}

				this.citys = citys
				this.countys = countys
				this.cityValue = [val[0], 0, 0]

				this.provinceName = cityData[val[0]].name || ''
				this.cityName = cityData[val[0]].sub[0] ? cityData[val[0]].sub[0].name : ''
				this.countyName = cityData[val[0]].sub[0] && cityData[val[0]].sub[0].sub[0] ? cityData[val[0]].sub[0].sub[0].name : ''
				return
			}
			if (val[1] !== t[1]) {
				const countys = []
				if (cityData[val[0]].sub[val[1]] && cityData[val[0]].sub[val[1]].sub.length > 0) {
					for (let i = 0; i < cityData[val[0]].sub[val[1]].sub.length; i++) {
						countys.push(cityData[val[0]].sub[val[1]].sub[i].name)
					}
				}

				this.countys = countys
				this.cityValue = [val[0], val[1], 0]

				this.cityName = cityData[val[0]].sub[val[1]].name || ''
				this.countyName = cityData[val[0]].sub[val[1]] && cityData[val[0]].sub[val[1]].sub[0] ? cityData[val[0]].sub[val[1]].sub[0].name : ''
				return
			}
			if (val[2] !== t[2]) {
				this.cityValue = val

				this.countyName = cityData[val[0]].sub[val[1]].sub[val[2]].name
			}
		}
	}
}
</script>

<style scoped>
  .cityPickerView{display: flex; width: 100%; height: 100%;align-items: center; justify-content: center;}
  .selector{ width: 100%; position: fixed; bottom: 0; left: 0; z-index: 999999}
  .selector .inner_box{ position: relative; z-index: 999999}
  .selector .header_box{ padding: 25rpx 0; overflow: hidden; box-sizing: border-box; background: #FBF9FE;}
  .selector .header_box .item{ float: left; font-size: 28rpx; color: #586C94; box-sizing: border-box;}
  .selector .header_box .l{ width: 25%; padding-left: 25rpx;}
  .selector .header_box .c{ width: 50%; text-align: center}
  .selector .header_box .r{ width: 25%; text-align: right; padding-right: 25rpx;}
  .selector .selected{ height: 90rpx;}
  .selector .picker_box{ width: 100%; height: 485rpx; background: #fff;}
  .selector .picker_box picker-view-column{ text-align: center;}
  .selector .picker_box picker-view-column view{ line-height: 90rpx; font-size: 26rpx;}
  .selector .layer{ width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 10; background:rgba(0,0,0,0.5); }
</style>

