<template>
  <section class="lineSpaceContain">
    <div class="lineLeft"></div>
    <span class="lineTitle">{{title}}</span>
    <div class="lineRight"></div>
  </section>
</template>

<script>
export default {
	props: {
		title: String
	}
}
</script>

<style scoped>
  @import '../utils/style/mixin';
  .lineSpaceContain{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 20rpx;
    background-color: white;
    .lineLeft{
      flex: 1;
      height: 4rpx;
      background-color: #F8F8F8;
    }
    .lineTitle{
      color: $themeColor;
      font-size: 28rpx;
      padding: 0 20rpx;
    }
    .lineRight{
      flex: 1;
      height: 4rpx;
      background-color: #F8F8F8;
    }
  }
</style>
