.i-swipeout-wrap{position:relative;overflow:hidden}.i-swipeout-item{width:100%;padding:0;box-sizing:border-box;transition:transform .2s ease;font-size:14px}.i-swipeout-content{overflow:hidden}.i-swipeout-button-right-group{position:absolute;right:-100%;top:0;height:100%;z-index:1;width:100%}.i-swipeout-button-right-item{height:100%;float:left;white-space:nowrap;box-sizing:border-box;display:flex;align-items:center;justify-content:center}
