<template>
  <div class="my-container">
    <!--头部-->
    <div class="my-top">
      <div class="my-top-wrap">
        <!--头像-->
        <div class="my-head">
          <image class="my-head-image" mode="" :src="headUrl?headUrl:defaultHead"></image>
        </div>

        <!--登录注册-->
        <div v-if="loginState == 0" class="top-1">
          <div class="top-1-1"><navigator url="../../pages/login/main" class="login">登录/注册</navigator></div>
        </div>
        <!--信息展示-->
        <div v-else-if="loginState == 1" class="top-2">
          <div class="top-2-2">
            <div class="userName">{{userName}}</div>
            <div class=""><div class="userTitle">{{userTitle?userTitle:defaultUserTitle}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--个人列表-->
    <div class="my-list">
      <!--列标体-->
      <navigator :url="loginState?navUrl.yuyueUrl:defaultNavUrl" class="my-list-sub">
        <div class="icon1 icon-app"></div>
        <div class="list-name">预约记录</div>
        <div class="icon-right"></div>
      </navigator>

      <navigator :url="loginState?navUrl.modifyInfoUrl:defaultNavUrl" class="my-list-sub">
        <div class="icon1 icon-info">
          <div class="icon-info-sub"></div>
        </div>
        <div class="list-name">个人信息</div>
        <div class="icon-right"></div>
      </navigator>

      <!--<navigator :url="loginState?navUrl.modifyPasswordUrl:defaultNavUrl" class="my-list-sub">-->
        <!--<div class="icon1 icon-pass"></div>-->
        <!--<div class="list-name">修改密码</div>-->
        <!--<div class="icon-right"></div>-->
      <!--</navigator>-->
    </div>
    <div v-if="loginState == 1" class="out_login" @click="outLogin">退出登录</div>
  </div>
</template>

<script>
// import wxApi from '../../store/wxApi'
import store from '../../store/store'
export default {
	data () {
		return {
			headUrl: null,
			defaultHead: '../../static/images/my/defaultHead.png',
			loginState: 0,
			userTitle: null,
			defaultUserTitle: '注册会员',
			userName: '你猜猜我猜不猜你猜不猜猜我猜不猜你猜不猜你猜不猜',
			defaultNavUrl: '../../pages/login/main',
			navUrl: {
				yuyueUrl: '../../pages/record/main',
				modifyInfoUrl: '../../pages/modifyInfo/main',
				modifyPasswordUrl: '../../pages/modifyPassword/main'
			}
		}
	},
	onShareAppMessage (res) {
		return {
			title: '展唐法服助拍',
			path: '/pages/discover/main',
			imageUrl: '../../static/images/image_share.png'
		}
	},
	components: {

	},

	computed: {
		// ...mapState([
		//   'wxBasicInfo', // 这个store中state下的wxBasicInfo，可以通过this.wxBasicInfo取值(也可以通过this.$store.wxBasicInfo获取)两种方法随意用，看自己喜好
		// ]),
	},

	methods: {
		// ...mapActions([
		//   'getLoginBasicInfo', // 将actions的方法名卸载数组里，可以在vue实例对象下生命周期methods下通过this.getLoginBasicInfo来调用
		// ]),

		fontNumHandle (font, num) {
			let str = font
			let name = ''
			let l = str.length
			let blen = 0
			for (let i = 0; i < l; i++) {
				name += str[i]
				if ((str.charCodeAt(i) & 0xff00) !== 0) {
					blen++
				}
				blen++
				if (blen >= num) {
					if (l - 1 - i <= 1) {
						name = str
					} else {
						name = name + '...'
					}
					break
				}
			}
			return name
		},
		showLoginInfo () {
			let data = store.state.wxBasicInfo
			this.loginState = 1
			this.headUrl = data.avatarUrl
			this.userName = data.nickName
			this.userName = this.fontNumHandle(this.userName, 16)
			console.log(this.userName)
		},
		outLogin () {
			this.loginState = 0
			store.commit('WX_BASIC_INFO', {
				'isLogin': false
			})
		}
	},

	// 例如我在生命周期里调用
	onLoad () {
	  this.userName = this.fontNumHandle(this.userName, 16)
	},
	onShow () {
		console.log(store.state.wxBasicInfo.isLogin)
		if (store.state.wxBasicInfo.isLogin) {
			this.showLoginInfo()
		}
	}
}
</script>

<style scoped>

  .my-container{
    width:100%;
    height:100%;
    .my-top{
      width:100%;
      height:220rpx;
      background:#f32b15;
      padding:50rpx 0 0 50rpx;
      box-sizing:border-box;
      .my-top-wrap{
        width:100%;
        height:110rpx;
        display:flex;
        flex-direction:row;
        .my-head{
          flex: 0 0 125rpx;
          .my-head-image{
            border-radius:50%;
            overflow:hidden;
            background-color:#e78200;
            width:110rpx;
            height:110rpx;
          }
        }
        .top-1{
        .top-1-1{
          height:110rpx;
          line-height:110rpx;
          color:#fff;
          font-size:36rpx;
          display:flex;
          flex-direction:row;
        }
        }
        .top-2{
          height:110rpx;
          .top-2-2{
            height:100%;
            display: flex;
            flex-direction:column;
            .userName{
              color:#fff;
              font-size:36rpx;
            }
            .userTitle{
              height:34rpx;
              line-height:34rpx;
              display:inline-block;
              padding:0 10rpx;
              background:#fff70c;
              font-size:20rpx;
              color:#f32913;
              border-radius:10rpx;
              vertical-align:top;
              margin-top:10rpx;

            }
          }
        }
      }
    }
    .my-list{
      width:680rpx;
      margin:10px auto 0;
      .my-list-sub{
        height:74rpx;
        border-bottom:1px solid #cccccc;
        position:relative;
        display:flex;
        flex-direction:row;
        .icon1{
          flex: 0 0 60rpx;
        }
        .icon-app{
          background:url("../../../static/images/my/icon_myApp.png") center left no-repeat;
          background-size:40rpx 40rpx;
        }
        .icon-info{
          .icon-info-sub{
            width:36rpx;
            height:28rpx;
            vertical-align:middle;
            display:inline-block;
            background:#f52e19 url("../../../static/images/my/icon_myInfo.png") center left no-repeat;
            background-size:36rpx 28rpx;
          }
        }
        .icon-pass{
          background:url("../../../static/images/my/icon_mySer.png") center left no-repeat;
          background-size:40rpx 40rpx;
        }
        .list-name{
          font-size:30rpx;
          line-height:74rpx;
        }
        .icon-right{
          position:absolute;
          right:0;
          top:0;
          height:100%;
          width:20rpx;
          background:url("../../../static/images/my/icon_turnRight.png") center right no-repeat;
          background-size:20rpx 27rpx;
        }
      }
    }
  .out_login{
    width:674rpx;
    height:80rpx;
    color:#fff;
    font-size:30rpx;
    line-height:80rpx;
    text-align: center;
    background:#ff3520;
    margin:30rpx auto 0;
  }
  }
</style>
