/* 底线的样式 */
.lineSpace{
  width: 100%;
  height: 4rpx;
  background-color: #F8F8F8;
}

/* tabBar的count样式调整 */
.i-badge-count{
  top: -6rpx;
  right: -26rpx;
  height: 30rpx;
  line-height: 30rpx;
  border-radius: 10rpx;
}

/* 搜索页面选择项的背景样式 */
.singleSelectedDiv {
  background: #ffffff url('../../../static/images/select.png') right no-repeat;
  background-size:  66rpx 46rpx;
  border: none;
  border-bottom: 2rpx solid #F73C31;
  box-sizing: border-box;
}
.defaultBorder{
  border-bottom: 2rpx solid white;
}

/**
 * author: Di (微信小程序开发工程师)
 * organization: WeAppDev(微信小程序开发论坛)(http://weappdev.com)
 *         垂直微信小程序开发交流社区
 *
 * github地址: https://github.com/icindy/wxParse
 *
 * for: 微信小程序富文本解析
 * detail : http://weappdev.com/t/wxparse-alpha0-1-html-markdown/184
 */

 .wxParse {
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.8;
}

.wxParse view {
  word-break: hyphenate;
}

.wxParse .inline {
  display: inline;
  margin: 0;
  padding: 0;
}

.wxParse .div {
  margin: 0;
  padding: 0;
}

.wxParse .h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.wxParse .h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.wxParse .h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.wxParse .h4 {
  margin: 1.33em 0;
}
.wxParse .h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
.wxParse .h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

.wxParse .h1,
.wxParse .h2,
.wxParse .h3,
.wxParse .h4,
.wxParse .h5,
.wxParse .h6,
.wxParse .b,
.wxParse .strong {
  font-weight: bolder;
}

.wxParse .p {
  margin: 1em 0;
}

.wxParse .i,
.wxParse .cite,
.wxParse .em,
.wxParse .var,
.wxParse .address {
  font-style: italic;
}

.wxParse .pre,
.wxParse .tt,
.wxParse .code,
.wxParse .kbd,
.wxParse .samp {
  font-family: monospace;
}
.wxParse .pre {
  overflow: auto;
  background: #f5f5f5;
  padding: 8px;
  white-space: pre;
  margin: 1em 0px;
}
.wxParse .code {
  display: inline;
  background: #f5f5f5;
}

.wxParse .big {
  font-size: 1.17em;
}

.wxParse .small,
.wxParse .sub,
.wxParse .sup {
  font-size: 0.83em;
}

.wxParse .sub {
  vertical-align: sub;
}
.wxParse .sup {
  vertical-align: super;
}

.wxParse .s,
.wxParse .strike,
.wxParse .del {
  text-decoration: line-through;
}

.wxParse .strong,
.wxParse .s {
  display: inline;
}

.wxParse .a {
  color: deepskyblue;
}

.wxParse .video {
  text-align: center;
  margin: 10px 0;
}

.wxParse .video-video {
  width: 100%;
}

.wxParse .img {
  display: inline-block;
  width: 0;
  height: 0;
  max-width: 100%;
  overflow: hidden;
}

.wxParse .blockquote {
  margin: 5px 0;
  padding: 10px 0 10px 10px;
  font-family: Courier, Calibri, "宋体";
  background: #f5f5f5;
  border-left: 3px solid #dbdbdb;
}
.wxParse .blockquote .p {
  margin: 0;
}

.wxParse .ul, .wxParse .ol {
  display: block;
  margin: 1em 0;
  padding-left: 16px;
}
.wxParse .ol {
  list-style-type: disc;
}
.wxParse .ol {
  list-style-type: decimal;
}
.wxParse .li {
  display: list-item;
  align-items: baseline;
  text-align: match-parent;
}
.wxParse .ul .ul, .wxParse .ol .ul {
  list-style-type: circle;
}
.wxParse .ol .ol .ul, .wxParse .ol .ul .ul, .wxParse .ul .ol .ul, .wxParse .ul .ul .ul {
    list-style-type: square;
}

.wxParse .u {
  text-decoration: underline;
}
.wxParse .hide {
  display: none;
}
.wxParse .del {
  display: inline;
}
.wxParse .figure {
  overflow: hidden;
}

/* html解析中p标题 */
.wxParse .p, .wxParse .p > .span {
  width: inherit !important;
  height: inherit !important;
  margin: inherit !important;
  padding: inherit !important;
  font-size: 16px !important;
  color: #333 !important;
  text-align: center !important;
}

.wxParse .table {
  width: 100%;
  border: 1 !important;
  cellspacing: 0 !important;
  cellpadding: 0 !important;
  height: inherit !important;
  margin: inherit !important;
  padding: inherit !important;
}
.wxParse .thead, .wxParse .tfoot, .wxParse .tr {
  display: flex;
  flex-direction: row;
}
.wxParse .tr {
  width:100%;
  height: inherit !important;
}
.wxParse .th,
.wxParse .td {
  overflow: none !important;
  width: inherit !important;
  height: inherit !important;
  padding: inherit !important;
  margin: inherit !important;
  border: 1px solid rgb(221, 221, 221) !important;
  -ms-word-break: break-all !important;
  font-size: 14px !important;
  font-weight: inherit !important;
  text-indent: 2px !important;
  text-align: center;
  color: #666 !important;
}
.wxParse .tr > .td:first-child {
  width: 100px !important;
}
.wxParse .tr > .td:last-child {
  width: inherit !important;
}
.wxParse .td .p, .wxParse .td .span {
  width: inherit !important;
  height: inherit !important;
  margin: inherit !important;
  padding: inherit !important;
  font-size: 14px !important;
  font-weight: inherit !important;
  text-indent: 2px !important;
  text-align: center;
  color: #666 !important;
}
.wxParse .td:last {
  border-top: 1px solid #e0e0e0;
}
.wxParse .th {
  background: #f0f0f0;
  border-top: 1px solid #e0e0e0;
}
