<template>
  <div class="my-container">
    <div class="pass_list">
      <div class="pass_list_sub">
        <span class="list_label">姓名</span>
        <input class="list_input" type="text" v-model="realName" placeholder="请输入您的姓名" @input="orderInput1"/>
      </div>
      <div class="pass_list_sub">
        <span class="list_label">账户名</span>
        <input class="list_input" type="text" v-model="name" placeholder="请输入您的账号名" @input="orderInput2"/>
      </div>
      <div class="pass_list_sub">
        <span class="list_label">性别</span>
        <picker class="list_input" :range="sex" :value="sexIndex" @change="changeSex">
          <view class="picker">
             {{sex[sexIndex]}}
          </view>
        </picker>
      </div>
      <!--<div class="pass_list_sub">-->
        <!--<span class="list_label">手机号码</span>-->
        <!--<input class="list_input" type="text" maxlength="11" @input="orderInput3" v-model="phone" placeholder="请再次您的手机号"/>-->
      <!--</div>-->
      <div class="pass_list_sub">
        <span class="list_label">公司名称</span>
        <input class="list_input" type="text" @input="orderInput4" v-model="companyName" placeholder="请输入您的公司名称"/>
      </div>
      <div class="pass_list_sub">
        <span class="list_label">公司地址</span>
        <input class="list_input" type="text" @input="orderInput5" v-model="companyAddress" placeholder="请输入您的公司地址"/>
      </div>
      <div class="pass_list_sub">
        <span class="list_label">部门名称</span>
        <input class="list_input" type="text" v-model="deptName" @input="orderInput6" placeholder="请输入您的部门名称"/>
      </div>
      <div class="pass_list_sub">
        <span class="list_label">职称</span>
        <input class="list_input" type="text" v-model="occupation" @input="orderInput7" placeholder="请输入您的职称"/>
      </div>
    </div>
    <div class="button-submit" @click="submitInfo">提交</div>
  </div>
</template>

<script>
import Tips from '../../utils/tipUtil/tips'
import {getPersonalInfo, setPersonalInfo} from '../../fetchData/fetchMyProfile'
import store from '../../store/store'
export default {
	data () {
		return {
			sex: ['保密', '男', '女'],
			sexIndex: 0,
			realName: '',
			phone: '',
			companyName: '',
			companyAddress: '',
			deptName: '',
			occupation: '',
			name: ''
		}
	},
	components: {

	},
	onLoad () {

	},
	onShow () {
		this.getInfo()
	},
	methods: {
	  changeSex (e) {
			console.log('picker发送选择改变，携带值为', e)
			this.sexIndex = e.target.value
		},
		async getInfo () {
			let value = await getPersonalInfo()
			this.sexIndex = value.data.sex
			this.realName = value.data.realName
			// this.phone = value.data.phone
			this.companyName = value.data.companyName
			this.companyAddress = value.data.companyAddress
			this.deptName = value.data.deptName
			this.occupation = value.data.occupation
			this.name = value.data.name
		},
		async submitInfo () {
			await setPersonalInfo({
				'id': store.state.wxBasicInfo.uid,
				'name': this.name,
				'realName': this.realName,
				'sex': this.sexIndex,
				'companyName': this.companyName,
				'companyAddress': this.companyAddress,
				'deptName': this.deptName,
				'occupation': this.occupation
			})
			this.$store.commit('WX_BASIC_INFO', {
				'realName': this.realName
			})
			wx.navigateBack({
				delta: 1,
				success: function () {
					Tips.toast({
						title: '修改成功'
					})
				}
			})
		},
		orderInput1 (mp) {
			this.realName = this.$_.trim(mp.target.value)
		},
		orderInput2 (mp) {
			this.name = this.$_.trim(mp.target.value)
		},
		// orderInput3 (mp) {
		// 	this.phone = this.$_.trim(mp.target.value)
		// },
		orderInput4 (mp) {
			this.companyName = this.$_.trim(mp.target.value)
		},
		orderInput5 (mp) {
			this.companyAddress = this.$_.trim(mp.target.value)
		},
		orderInput6 (mp) {
			this.deptName = this.$_.trim(mp.target.value)
		},
		orderInput7 (mp) {
			this.occupation = this.$_.trim(mp.target.value)
		}
	}
}
</script>

<style scoped>
  .my-container{
    padding-top:1px;
    height:100%;
    background:#f7f7f7;
    .pass_list{
      margin-top:10rpx;
      background:#fff;
      padding:22rpx 0 1px;
    .pass_list_sub{
      width:680rpx;
      margin:0 auto 22rpx;
      height:64rpx;
      display:flex;
      font-size:30rpx;
    .list_label{
      flex:0 0 170rpx;
      color:#aaaaaa;
      line-height:64rpx;
    }
    .list_input{
      width:100%;
      height:100%;
      border:1px solid #cccccc;
      text-indent:10rpx;
    .picker{
      width:100%;
      height:68rpx;
      line-height:68rpx;

    }
    }
    }

    }
    .button-submit{

      width:674rpx;
      height:80rpx;
      color:#fff;
      font-size:30rpx;
      line-height:80rpx;
      text-align: center;
      background:#ff3520;
      margin:30rpx auto 0;
    }
  }

</style>
